---

---

<header class="py-2 px-2 flex top-0 bg-white w-full justify-between border-b sticky navbar">
    <a href="/SofitaAstro/"><img class="logo" alt="logo" src="/img/cropped-cropped-DDD.png"/></a>
    <div class="align-middle text-center inline-block items-center inline-flex"><a href="/SofitaAstro/"><h1 class="text-3xl pr-10 hover:text-main text-center">Asesoría Jurídico Técnica de Asturias</h1></a></div>
    <ul class="inline-flex items-center justify-between inline-block [&>li>a]:px-3 text-lg align-middle">
        <li class="hover:text-main "><a href="/SofitaAstro/">Inicio</a></li>
        <li id="dropdowButton" class="hover:text-main" data-dropdown-toggle="dropdown">Nuestros servicios</li>
        <ul id="dropdown" class="hidden" aria-labelledby="dropdownDefaultButton">
            <li class="hover:text-main"><a href="consultoria">Consultoría</a></li>
            <li class="hover:text-main"><a href="abogacia">Abogacía</a></li>
            <li class="hover:text-main"><a href="ingenieria">Topografía</a></li>
        </ul>        
        <li class="hover:text-main"><a href="/SofitaAstro/equipo">Equipo</a></li>
        <li class="hover:text-main"><a href="/SofitaAstro/noticias/">Noticias</a></li>
        <li class="hover:text-main"><a href="/SofitaAstro/contacto">Contacto</a></li>
    </ul>
</header>