---

---

<header class="py-2 px-2 flex top-0 bg-white w-full justify-between border-b sticky">
    <a href="#"><img class="" alt="logo" src="/img/cropped-cropped-DDD.png"/></a>
    <h1 class="text-3xl pr-10 hover:text-main py-7"><a href="#">Asesoría Jurídico Técnica de Asturias</a></h1>
    <ul class="inline-flex items-center justify-between inline-block [&>li>a]:px-3 text-lg align-middle">
        <li class="hover:text-main "><a href="#">Inicio</a></li>
        <li id="dropdowButton" class="hover:text-main" data-dropdown-toggle="dropdown"><a href="#">Nuestros servicios</a></li>
        <ul id="dropdown" class="hidden" aria-labelledby="dropdownDefaultButton">
            <li class="hover:text-main"><a href="#">Consultoría</a></li>
            <li class="hover:text-main"><a href="#">Abogacía</a></li>
            <li class="hover:text-main"><a href="#">Topografía</a></li>
        </ul>        
        <li class="hover:text-main"><a href="#">Equipo</a></li>
        <li class="hover:text-main"><a href="#">Noticias</a></li>
        <li class="hover:text-main"><a href="#">Contacto</a></li>
    </ul>
</header>