---
---

<div class="py-8">
    <div class="grid grid-cols-2 px-10 py-8 content-around bg-inherit">
        <img class="w-1/2 place-self-center" alt="" src="img/IMG_0257.jpg" />
        <div class="grid grid-rows-2 content-around">
            <h2 class="text-center text-3xl font-bold self-center row-start-1 row-span-2 py-2 my-2 border-t border-b">VISIÓN</h2>
            <div class="border-2 rounded-lg content-around self-center hover:border-main">
                <p class="text-center">Asesoría Jurídico-Técnica de Asturias nace del proyecto común de tres empresas: el despacho de abogadas Sión y Llompart CB, la consultora SofitaVirtus y la ingeniería TP Topografía. Queremos que te sientas respaldado y acompañado, por eso aunamos fuerzas ofreciéndote un servicio integral de la mano de profesionales especializados.</p>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 px-10 py-8 content-around bg-inherit">
        <div class="grid grid-rows-2 content-around">
            <h2 class="text-center text-3xl font-bold self-center row-start-1 row-span-2 py-2 my-2 border-t border-b">MISIÓN</h2>
            <div class="border-2 rounded-lg content-around self-center hover:border-main my-2">
                <p class="text-center">Nuestra misión es atender, aconsejar y resolver las consultas de nuestros clientes, poniendo nuestro foco en el factor humano. Apostamos por una relación cercana y comprometida, por lo que dentro de nuestra filosofía entra el valor de accesibilidad económica para que todo cliente se vea en la posibilidad de contar con nuestros servicios y apoyo. Estamos especializadas en el sector local donde nos desarrollamos (Asturias).</p>
            </div>
        </div>
        <img class="w-1/2 place-self-center" alt="" src="img/handshake-2009183_1920-2-1536x769.png" />
    </div>
</div>