---

---

<div class="grid grid-cols-3 items-center content-around bg-inherit justify-center m-4 py-4">
    
        <img src="img/LogoSofitaCaminaBLANCO-edited.png">
        <img class="place-self-center" src="img/TOPOGRAFa.png"/>
        <img src="img/LOGO-SION-Y-LLOMPART3-1024x1024.png"/>

        <p class="text-center text-lg self-baseline inline-block px-5">
            Expertos en derecho público administrativo, general y sectorial. Buscamos mejorar las relaciones y exigencias frente a una administración del siglo XXI 
        </p>
    
    
        
        <p class="text-center text-lg self-baseline inline-block px-5">
            En este ámbito de actuación TP TOPOGRAFÍA colabora y asesora, por ser el Ingeniero en Geomática y Topografía el técnico idóneo para los trabajos necesarios para esta coordinación.
        </p>
    
    
        <p class="text-center text-lg self-baseline inline-block px-5">
            Somos un equipo de profesionales especializado en diferentes ramas jurídicas orientadas en la práctica a la resolución de problemas de las personas.
        </p>
    

</div>